<div class="row">
  <div class="form-div col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <div><label for="email-login">Email:</label></div>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <div><label for="password-login">Password:</label></div>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="form-btn btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>

  <div class="signup-form form-div col-md-6">
    <h2 class="signup-title">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <div><label for="name-signup">Name:</label></div>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <div><label for="email-signup">Email:</label></div>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <div><label for="password-signup">Password:</label></div>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="form-btn btn btn-primary" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

  <script src="/js/login.js"></script>
</main>