  <div class="row">
      <div class="col-auto">
          <h2>Hey there, {{user_name}}</h2>
      </div>
  </div>

  {{#if comments.length}}
  <div class="comments-area">
      <h5>Your Comments:</h5>
          {{#each comments as |comment|}}
          <ul class="comments-list">
            <li>"{{comment.comment_text}}" on <a href="/review/{{review.id}}">{{review.title}}</a></li>
          </ul>
          {{/each}}
  </div>
  {{/if}}
</main>