  <div class="row">
      <div class="col-auto">
          <h2>Hey there, {{name}}</h2>
      </div>
  </div>

  {{#if comments.length}}
  <div>
      <h2>Your Comments</h2>
      <ol>
          {{#each comments as |comment|}}
          <ul>
              <h3><a href="/comment/{{comment.review_id}}">{{comment.comment_text}}</a></h3>
          </ul>
          {{/each}}
      </ol>
  </div>
  {{/if}}
